{{{headelement}}}
<div id="mw-mf-viewport">
	<nav id="mw-mf-page-left" class="navigation-drawer view-border-box">
		{{{menuhtml}}}
	</nav>
	<div id="mw-mf-page-center">
		<div class="banner-container">
			{{>banners}}
		</div>
		<div class="header">
			<div>
				{{{menuButton}}}
			</div>
			{{{searchhtml}}}
			<div>
				{{{secondaryButton}}}
			</div>
		</div>
		<div id="content">
			{{>content}}
		</div>
		{{>footer}}
	</div>
</div>
{{{debug}}}
{{{bottomscripts}}}
{{{reporttime}}}
</body>
</html>