<div id="footer" class="post-content">
	{{#footerRows}}
	<ul class="footer-{{category}}">
		{{#columns}}
		<li id="footer-{{category}}-{{link}}">{{{linkhtml}}}</li>
		{{/columns}}
	</ul>
	{{/footerRows}}
</div>
